* {
    margin: 0;
    padding: 0;
}

.header1{
    margin: 0;
    height: 212vh;
    background-image: url('bc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    position: relative;

}
.nav-links{
    position: absolute;
    display: flex;
   align-items: center;
   margin: 0 165px;

}
.topic{
   margin: 50px 290px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 44px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    height: 65px;
    width: 1366px;
    background-color: black;
    border: 2px solid blueviolet;
    border-radius: 3px;
    color: white;
    padding: 0 0;
    position: fixed;
    
}
nav ul li a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-weight: bold;
}
nav ul li a:hover{
    font-size: 20px;
    text-decoration: underline;
    color: blueviolet; 
}

.is {
    margin: 0 0;
    display: flex;
    align-items: center;
    font-family: cursive;
    
}
.is img{
    border: 1px solid black;
    border-radius: 5px;
}
.gautam{
    /* margin: 110px 0; */
    display: flex;
    align-items: center;
    height: 82px;
    background-color: black;
    border: 2px solid blueviolet;
    border-radius: 5px;
    color: white;
    /* font-family: cursive; */
    padding: 2px 550px 0px 550px ;

}
.course{
    display: flex;

}
.course p a{
    text-decoration: none;
    color: white;
}
.box1{
    margin: 76px 10px;
    
    height: 215px;
    width: 303px;
    background-color: black;
    color: white;
    border: 1.5px solid red;
    border-radius: 5px;
    display: inline-box;
    align-content: center;
    
    
}
.box1 p{
    margin: 0px  52px;
    font-size: 25px;
     display: inline-flex; 
    align-items: center;
    color: white;
    text-decoration: none;
    list-style: none;

}
.box1 p:hover{
    text-decoration: underline;
    color: blueviolet; 
}
.box2{
    margin: 76px 20px;
    /* padding: 10px 30px; */
    height: 215px;
    width: 303px;
    background-color: black;
    color: white;
    border: 1.5px solid red;
    border-radius: 5px;
    display: inline-box;
    align-content: center;
   
    
}
.box2 p{
    margin: 0px  70px;
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    color: white;
    text-decoration: none;
    list-style: none;

}
.box2 p:hover{
    text-decoration: underline;
    color: blueviolet; 
}
.box4 p:hover{
    text-decoration: underline;
    color: blueviolet; 
}
.box5 p:hover{
    text-decoration: underline;
    color: blueviolet; 
}

.box3{
    margin: 16px 470px;
    padding: 20px;
    /* padding: 10px 30px; */
    height: 353px;
    width: 353px;
    background-color: white;
    color: black;
    border: 3px solid orange;
    border-radius: 180px;
    display: inline-box;
    /* animation: offer 3s ease-in-out 3s infinite alternate-reverse; */
   
    
}

.h3{
    padding: 0 120px;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.assig{
    padding: 0 79px;
}

.box4{
    margin: 10px 150px 10px 10px;
    /* padding: 10px 30px; */
    height: 215px;
    width: 303px;
    background-color: black;
    color: white;
    border: 1.5px solid red;
    border-radius: 5px;
    display: inline-box;
    align-content: center;
   
    
}
.box4 p{
    margin: 0px  70px;
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    color: white;
    text-decoration: none;
    list-style: none;

}
.box5{
    margin: 0 0 10px 670px;
    /* padding: 10px 30px; */
    height: 235px;
    width: 203px;
    background-color: black;
    color: white;
    border: 1.5px solid red;
    border-radius: 5px;
    display: inline-box;
    align-content: center;
   
    
}
.box5 p{
    margin: 0 18px 3px 18px;
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    color: white;
    text-decoration: none;
    list-style: none;
}
body{ 
    height: 2px;
    width: 100vw;
    background-color: white;
    /* animation: lode 1s ease-in-out 1s 1 normal ; */
}

@keyframes lode{
    0%{
        width: 0;
    }    
   50% {width: 50vw;}
    
    100%{
        width: 100vw;;
    }
}
.pro{
    height: 1px;
    width: 1366px;
    background: black;
    animation: lode 1s ease-in-out 1s 1 normal ;
    position: relative;
    
}
nav .fa{
    display: none;
}
@media screen and (max-width:700px){
    *{
        margin: 0;
        padding: 0;
    }
     .header1{
         background-size: cover;
         height: 2940px;
         width: 380px;
         overflow: hidden;
     }
     
 
 
     .box3{
         height: 200px;
         width: 260px;
         justify-content: center;
         margin: 10px 50px;
         padding: 2px 2px;
         font-size: 8px;
         align-items: center;
     }
     
     .assig{
         font-size: 20px;
         padding: 0 50px;
     }
     .box1{ margin: 50px 10px 10px 8px;
         justify-content: center;
         /* height: 200px; */
         /* width: 200px; */
     }
     .box2{margin: 10px 10px 10px 8px;
         justify-content: center;
         /* height: 200px; */
         /* width: 200px; */
     }
     .course{
         /* justify-content: center; */
         margin: 30px 20px;
         flex-direction: row;
         flex-wrap: wrap;
     overflow: hidden;
     /* height: 150px; */
     /* width: 200px; */
     
     }
     .box5{
         margin: 10px 8px;
         padding: 0 5px;
     }
     .box4{
         margin: 0 8px;
     }
     .box5 p{
         margin: 0 3px;
     }
     .is{
         margin-left: 80px;
     }
     nav{
         margin-bottom: 200px;
     }
     nav ul{
         position: absolute;
         align-items: center;
         margin-bottom: 50px;
        height: 235px;
        width: 356px;
        display: block; 
        z-index: 3;
    }
    nav ul li{
     margin: 10px 0px;
    }
    
    
 
 .topic{ 
     font-size: 20px;
     margin: 15px 0 0 40px;
     justify-content: center;
     align-items: center;
     
     overflow: hidden;
 }
 
 .gautam{
     /* margin: 110px 0; */
     display: flex;
     align-items: center;
     height: 121px;
     background-color: black;
     border: 2px solid blueviolet;
     border-radius: 5px;
     color: white;
     /* font-family: cursive; */
     padding: 2px 0px 0px 60px ;
 }
 
 
 
 
 .nav-links{
     margin: 0px;
     display: block;
     position: absolute;
     background: black;
     height: 40vh;
     width: 170px;
     top: 0;
     right: -191px;
     text-align: center;
     transition: 1s;
     border-radius: 10px;
     z-index: 2;
 
 }
 nav .fa{
     display: block;
     color: white;
     margin: 20px 0;
     font-size: 32px;
     cursor: pointer;
     text-align: center;
 }
 nav .fas{
     margin: 15px 110px;
 }
 
 
 }